/* Dark Background */
.search-overlay {
  position: fixed;
  left: 244px;
  top: 0;
  width: calc(100% - 244px);
  height: 100%;
  background: rgba(49, 48, 48, 0.42);
  z-index: 5;
}

/* Left Search Panel (Exact Instagram Width = 397px) */
.search-panel {
  position: fixed;
  width: 397px;
  height: 100%;
  background: #232222;
  left: 244px;
  top: 0;
  padding: 24px;
  border-right: 1px solid #2c2828;
  z-index: 10;

  /* Instagram Slide Animation */
  animation: slideSearch 0.27s ease-out;
}

@keyframes slideSearch {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.search-panel h2 {
  font-size: 24px;
  font-weight: 600;
}

.search-panel input {
  margin-top: 18px;
  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 15px;
  border: 1px solid #1a1818;
  background: #4c3f3f;
}

.divider {
  width: 100%;
  height: 1px;
  background: #5d5b5b;
  margin: 22px 0;
}

.results-box {
  height: calc(100% - 130px);
  overflow-y: auto;
}

.recent {
  color: #737373;
  font-size: 15px;
}

.no-user {
  color: #ebe0e0;
  font-size: 15px;
}

.search-item {
  padding: 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}

.search-item:hover {
  background: #f5f5f5;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
