.main-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: Arial;
}

.toggle-btns {
  margin-bottom: 20px;
}

.toggle-btns button {
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid black;
  background: #ddd;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.toggle-btns .active {
  background: black;
  color: white;
}

.form-box {
  width: 320px;
  margin: 10px auto;
  padding: 20px;
  background: #f4f4f4;
  border: 2px solid #333;
  border-radius: 15px;
}

.form-box input,
.form-box select {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #888;
  border-radius: 8px;
}

.form-box button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.form-box button:hover {
  background: #444;
}
